.places__image {
    max-width: 460px;
    min-width: 320px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 768px) {
  .places__image {
    width: 340px;
  }
}

@media screen and (min-width: 1024px) {
  .places__image {
    width: 440px;
  }
}

@media screen and (min-width: 1280px) {
  .places__image {
    width: 460px;
  }
}
