.lead {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1280px) {
    .lead {
        margin-top: 56px;
      }
}
