.lead__figure {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .lead__figure {
    margin-top: 56px;
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__figure {
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 92px;
    margin-top: 56px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__figure {
    margin-left: 148px;
    margin-right: 148px;
    margin-top: 64px;
  }
}
